[Rules]
libubuntugestures.TouchRegistry.debug=false
ubuntu.components.SwipeArea.debug=false
ubuntu.components.SwipeArea.ActiveTouchInfo.debug=false
ubuntu.components.BottomEdge.debug=false
ubuntu.components.PageTreeNode.debug=false
ubuntu.components.Action.debug=true
ubuntu.components.ActionContext.debug=false
