.obj
.pch
.qmake.cache
.rcc
qml
include
lib
mkspecs/*

Makefile*
documentation/html/*
*.moc
moc_*.cpp
qrc_tst_*.cpp

tests/*.xml
plugins.qmltypes
*.mo
apicheck/apicheck
ubuntu-ui-toolkit-launcher/ubuntu-ui-toolkit-launcher
build_paths.inc

components.api.new
app-launch-profiler/app-launch-tracepoints
tests/unit/alarms/alarms
tests/unit/animator/animator
tests/unit/argument/argument
tests/unit/arguments/arguments
tests/unit/asyncloader/asyncloader
tests/unit/bottomedge/bottomedge
tests/unit/components/components
tests/unit/components_benchmark/components_benchmark
tests/unit/deprecated_theme_engine/deprecated_theme_engine
tests/unit/i18n/LocalizedApp/LocalizedApp
tests/unit/i18n/RelativeTime/RelativeTime
tests/unit/iconprovider/iconprovider
tests/unit/inversemousearea/inversemousearea
tests/unit/layouts/layouts
tests/unit/mainview/mainview
tests/unit/mousefilters/mousefilters
tests/unit/orientation/orientation
tests/unit/page/page
tests/unit/performance/performance
tests/unit/qquick_image_extension/qquick_image_extension
tests/unit/quickutils/quickutils
tests/unit/recreateview/recreateview
tests/unit/scaling_image_provider/scaling_image_provider
tests/unit/serviceproperties/serviceproperties
tests/unit/statesaver/statesaver
tests/unit/subtheming/subtheming
tests/unit/swipearea/swipearea
tests/unit/test/test
tests/unit/testparser/testparser
tests/unit/theme/theme
tests/unit/touchregistry/touchregistry
tests/unit/tree/tree
tests/unit/ubuntu_shape/ubuntu_shape
tests/unit/units/dpr1/dpr1
tests/unit/units/dpr2/dpr2
tests/unit/units/dpr3/dpr3
tests/unit/units/scale/scale
tests/unit/visual/visual
