[Desktop Entry]
Name=converter
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/lib/ubuntu-ui-toolkit/examples/jokes/jokes.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
