[Desktop Entry]
Name=customtheme
Exec=qmlscene $@ main.qml
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Gettext-Domain=com.ubuntu.developer.zsombi.customtheme
Icon=customtheme.png
