[Desktop Entry]
Name=Jokes
Exec=qmlscene $@ jokes.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Gettext-Domain=com.ubuntu.developer.bzoltan.jokes
Icon=jokes.png


