Source: qt-components-ubuntu
Priority: extra
Maintainer: Juhapekka Piiroinen <juhapekka.piiroinen@canonical.com>
Build-Depends: debhelper (>= 8.0.0), qt4-qmake, libqt4-dev, libqt4-declarative-shaders
Standards-Version: 3.9.2
Section: libs
Homepage: https://launchpad.net/tavastia

Package: qt-components-ubuntu
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-declarative-shaders
Description: Qt Components for Ubuntu
 The qt-components-ubuntu project aims to deliver a set of reusable components for Qt Quick on Ubuntu
