#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --fail-missing

override_dh_auto_install:
	dh_auto_install
	# Temporary hacks until proper upstream binary installed
	# Provide both legacy qmlscene and future qml links
	# -> users may update to use the 'qml' name
	mkdir -p $(CURDIR)/debian/tmp/usr/bin
	ln -s /usr/lib/*/qt5/bin/qmlscene $(CURDIR)/debian/tmp/usr/bin/qml
	ln -s /usr/lib/*/qt5/bin/qmlscene $(CURDIR)/debian/tmp/usr/bin/qmlscene

override_dh_install:
	dh_auto_build -- docs
	mkdir -p debian/tmp/`qmake -query QT_INSTALL_DOCS`/qch 
	rm -rf debian/tmp/usr/share/locale
	dh_install --fail-missing

