#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4
DEB_HOST_MULTI_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_MULTIARCH)

%:
	dh $@ --fail-missing

override_dh_build:
	dh_auto_build
	dh_auto_build -- docs

override_dh_install:
	mkdir -p debian/tmp/`qmake -query QT_INSTALL_DOCS`/qch 
	dh_install --fail-missing

