[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/lib/qt-components-ubuntu/demos/launch_componentshowcase_phone
Path=/opt/qt-components-ubuntu/
Name=Qt Components for Ubuntu - Phone Component Showcase
GenericName=Qt Components for Ubuntu phone component showcase application
Icon=/usr/lib/qt-components-ubuntu/demos/call_icon.png
Terminal=false

