[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=qmlviewer -opengl /opt/qt-components-ubuntu/demos/Gallery.qml
Path=/opt/qt-components-ubuntu/
Name=Qt Components for Ubuntu - Gallery
GenericName=Qt Components for Ubuntu gallery application
Icon=/opt/qt-components-ubuntu/demos/call_icon.png
Terminal=false

