/*

    The theme redefines the .Button and .button colors aswell as
    defines delegate for .frame
*/

@import("modules/Ubuntu/Components/defaulttheme.css")
@qml-import("demos")
@qml-mapping(.tbutton, ButtonStyle, TestFrameDelegate)
@qml-mapping(.frame, , TestFrameDelegate)

.Button {
    color: control.hovered ? "tan" : "lightgray";
}

.button {
    color: control.hovered ? "lightgray" : "#a3e5e8";
}

.frame {
    color: "tan";
}

/* this is here just to include .tbutton's delegate */
.frame > .tbutton {
}

