/*

    The theme extends the default one and redefines the delegate for the
    .Button selector. The "demos" folder is added to the imports so the
    theme pecific types can be utilized.
*/

@import url("demos/test-theme1.css");
@qml-mapping(.Button, ButtonStyle, TestFrameDelegate);
@qml-mapping(.frame, , TestFrameDelegate);

.frame {
    color: "#aaaaff";
    border: "blue"
}

.Button {
    color: widget.pressed ? "purple" : "lightgray";
}
