/*

    The theme redefines the .Button and .button colors aswell as
    defines delegate for .frame
*/

@import url("modules/Ubuntu/Components/defaulttheme.css");
@qml-import("demos");
@qml-mapping(.frame, , TestFrameDelegate);

.Button {
    color: widget.hovered ? "tan" : "lightgray";
}

.button {
    color: widget.hovered ? "lightgray" : "#a3e5e8";
}

.frame {
    color: "tan";
}

